**/__pycache__/
data/**/*.wav
data/**/*.lip
data/**/*.json
!data/actions/conditions/*.json
!data/actions/functions/*.json
!data/actions/tooltips/*.json
data/**/*.txt
data/tmp/
*SECRET_KEY.txt
logging.log
player_recording.wav
MantellaEnv*
build/
dist/
main.exe
/.obsidian/
/.vs
/docs/build/
__pycache__/
data/advanced_voice_model_data_log_xtts.csv
data/csv_voice_folder_data_log_xtts.csv
data/voice_model_data_log_xtts.csv
.history/
.vscode/