**/__pycache__/
data/**/*.wav
data/**/*.lip
data/**/*.json
data/**/*.txt
data/tmp/
GPT_SECRET_KEY.txt
logging.log
player_recording.wav
MantellaEnv*
.venv/
.vscode/
moonshine/
build/
dist/
main.exe
/.obsidian/
/.vs
/docs/build/