/__pycache__/
src/__pycache__/
data/**/*.wav
data/**/*.lip
data/**/*.json
data/**/*.txt
data/tmp/
GPT_SECRET_KEY.txt
logging.log
player_recording.wav
MantellaEnv*
build/
dist/
main.exe
/.obsidian/
env
.vs
.vs/slnx.sqlite
data/voicelines/Female Dark Elf/desktop.ini
.gitignore
config_old.ini
.vs/slnx.sqlite
