# python 3.11
pandas==1.5.3
tiktoken==0.4.0
httpx==0.27.2
openai==1.6.0
aiohttp==3.8.4
faster-whisper==1.0.3
requests==2.31.0
pyaudio==0.2.13
soundfile==0.12.1
numpy==1.25.0
scipy==1.11.1
charset-normalizer==3.2.0
fastapi==0.110.2
gradio==4.28.3
sphinx==7.2.6
myst-parser==2.0.0
sphinx-design==0.5.0
sphinxcontrib-youtube==1.4.1
furo==2023.9.10
pywin32==306; platform_system == "Windows"
mss==9.0.1
opencv-python==4.10.0.84
sounddevice==0.5.1
silero_vad==5.1.2
playsound
git+https://github.com/usefulsensors/moonshine.git@2f6282347950c8d711bd7319287babb87ec5a92d#subdirectory=moonshine-onnx
